.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1583795128727-6ec3642408f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=957&q=100");
  background-size: cover;
}

.login-title {
  font-size: 50px;
}

.login-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.login-form > label {
  margin: 10px 0px;
}

.login-input {
  padding: 10px;
  background-color: white;
  border: none;
}

.login-btn {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.login-btn:disabled {
  cursor: not-allowed;
  background-color: rgb(218, 183, 183);
}

.login-register-btn {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
  border: none;
  padding: 0.2em 0.5em;
}
